<!DOCTYPE html>
<html lang="cn">
	<head>
		<meta charset="UTF-8">
		<title>帮助</title>
		<link href="../css/menubar.css" rel="stylesheet" type="text/css">
		<link href="../css/main.css" rel="stylesheet" type="text/css">
		<link href="../css/font/fonts.css" rel="stylesheet" type="text/css">
		<script src="../js/support.js"></script>
		<link rel="shortcut icon" href="../Images/icon.jpeg">

		<style>
			.select_pet {
				border: ghostwhite 1px solid;
				margin: 10px;
				padding: 5px;
				background-color: transparent;
				border-radius: 5px;
			}
			.select_pet:hover {
				background-color: rgba(0, 0, 0, 0.1);
				transition: all 0.2s ease-in-out;
			}
		</style>
	</head>

	<body>
		<!--先是menubar-->

		<div id="top" style="display: flex; flex-direction: row; justify-content: space-around; align-items: center">
			<!--img-->
			<img src="../Images/icon.jpeg" style="height: 50px; width: 50px; margin-left: 10px">
			<!--menubar-->
			<div id="menu_bar" class="menubar">

				<span id="mainpage" class="menubarItem" onmousedown="window.location.href = './index.html'">首页</span>

				<div id="interview_div" class="menubarDiv">
					<span id="interview" class="menubarItem" onmousedown="window.location.href = './interview.html'">采访与博客</span>
				</div>

				<div id="shop_div" class="menubarDiv">
					<span id="shop" class="menubarItem" onmousedown="window.location.href = './shop.html'">商城</span>
				</div>

				<div id="map_div" class="menubarDiv">
					<span id="map" class="menubarItem" onmousedown="window.location.href = './map.html'">地图</span>
				</div>

				<div id="help_div" class="menubarDiv">
					<span id="help" class="menubarItem" onmousedown="window.location.href = './help.html'" style="margin-right: 10px; border-bottom: 2px solid black">领养与帮助</span>
				</div>

				<div id="change_lang_div">
					<button id="change_lang" class="changelan" onmousedown="window.location.href='../en/help.html'">
						<span>中 / English</span>
					</button>
				</div>

			</div>

		</div>

		<!--主界面-->
		<div id="main_container">
			<div id="toolbar" style="display: flex; flex-direction: row; align-items: center">

				<select id="pet_type_selector" class="select_pet">
					<option value="-1">宠物类型</option>
					<option value="1">狗狗</option>
					<option value="0">猫猫</option>
				</select>

				<select id="pet_sex_selector" class="select_pet">
					<option value="-1">宠物性别</option>
					<option value="0">雄性</option>
					<option value="1">雌性</option>
				</select>

				<button id="select_bt" class="bt" style="margin-left: 10px">确定</button>
			</div>

			<div id="all_items">

			</div>
		</div>


		<!--添加一个动物-->
		<template id="a_help_item">
			<style>
				.hid {
					background-color: transparent;
					color: transparent;
					border: transparent;
				}
			</style>
			<div style="border-top: black 1px solid; margin-top: 10px; padding: 10px; display: flex; flex-direction: row; align-items: center">
				<img src="../Images/loading.png" style="width: 100px; height: 100px" id="pet_img">
				<div id="all_info" style="margin: 10px">
					<div style="padding: 10px">
						<span>名字 : </span><span id="pet_name" style="margin-right: 20px"></span>
						<span>性别 : </span><span id="pet_sex"></span>
					</div>
					<span style="padding: 10px">性格特征 : </span><span id="pet_char"></span>
				</div>
			</div>
			<!-- -1 未知; 1 女; 0 男-->
			<span id="sex" class="hid">-1</span>
			<!-- -1 未知; 1 狗; 0 猫-->
			<span id="pet_type" class="hid">-1</span>
			<!--宠物id-->
			<span id="pet_id" class="hid"></span>
		</template>

		<script>

			function add_help_item(pet_name, pet_sex, pet_char, pet_img, pet_type, pet_id) {
				let t = document.getElementById('a_help_item')
				t.content.getElementById('pet_name').innerText = pet_name
				var sexl = {'0': '男', '1': '女', '-1': '未知'}
				t.content.getElementById('pet_sex').innerText = sexl[pet_sex]
				t.content.getElementById('sex').innerText = pet_sex
				t.content.getElementById('pet_type').innerText = pet_type
				t.content.getElementById('pet_char').innerText = pet_char
				t.content.getElementById('pet_img').setAttribute('src', pet_img)
				t.content.getElementById('pet_id').innerText = pet_id
				let clone = t.content.cloneNode(true)
				document.getElementById('all_items').appendChild(clone)
			}

			add_help_item('福福', '0', 'xxx', 'xxx', '-1')
			add_help_item('核桃', '1', 'xxx', 'xxx', '-1')
			add_help_item('克罗心', '1', 'xxx', 'xxx', '-1')
			add_help_item('茅台', '1', 'xxx', 'xxx', '-1')
			add_help_item('棕棕', '0', 'xxx', 'xxx', '-1')
			add_help_item('小王子', '0', 'xxx', 'xxx', '-1')
			add_help_item('夏洛', '0', 'xxx', 'xxx', '-1')
			add_help_item('米苏', '1', 'xxx', 'xxx', '-1')
			add_help_item('小乖', '1', 'xxx', 'xxx', '-1')
			add_help_item('纸板', '0', 'xxx', 'xxx', '-1')
			add_help_item('涯妹', '1', 'xxx', 'xxx', '-1')
			add_help_item('小新', '1', 'xxx', 'xxx', '-1')
				      
		</script>

		<div style="background-color: rgba(0, 0, 0, 0.1); border-top: rgba(0, 0, 0, 0.5) 1px solid; width:100%; display: flex; flex-direction: column; align-items: center;">
			<span class="last_info">若有任何问题或想要加入我们，请发送邮件到我们的邮箱</span>
			<span class="last_info">联系邮箱: rt227919512@163.com</span>
		</div>

	</body>
</html>
