<!DOCTYPE html>
<html lang="cn">
	<head>
		<meta charset="UTF-8">
		<title>帮助</title>
		<link href="../css/menubar.css" rel="stylesheet" type="text/css">
		<link href="../css/main.css" rel="stylesheet" type="text/css">
		<link href="../css/font/fonts.css" rel="stylesheet" type="text/css">
		<script src="../js/support.js"></script>
		<link rel="shortcut icon" href="../Images/icon.jpeg">

		<style>
			.select_pet {
				border: ghostwhite 1px solid;
				margin: 10px;
				padding: 5px;
				background-color: transparent;
				border-radius: 5px;
			}
			.select_pet:hover {
				background-color: rgba(0, 0, 0, 0.1);
				transition: all 0.2s ease-in-out;
			}
		</style>
	</head>

	<body>
		<!--先是menubar-->

		<div id="top" style="display: flex; flex-direction: row; justify-content: space-around; align-items: center">
			<!--img-->
			<img src="../Images/icon.jpeg" style="height: 50px; width: 50px; margin-left: 10px">
			<!--menubar-->
			<div id="menu_bar" class="menubar">

				<span id="mainpage" class="menubarItem" onmousedown="window.location.href = './index.html'">首页</span>

				<div id="interview_div" class="menubarDiv">
					<span id="interview" class="menubarItem" onmousedown="window.location.href = './interview.html'">采访与博客</span>
				</div>

				<div id="shop_div" class="menubarDiv">
					<span id="shop" class="menubarItem" onmousedown="window.location.href = './shop.html'">商城</span>
				</div>

				<div id="map_div" class="menubarDiv">
					<span id="map" class="menubarItem" onmousedown="window.location.href = './map.html'">地图</span>
				</div>

				<div id="help_div" class="menubarDiv">
					<span id="help" class="menubarItem" onmousedown="window.location.href = './help.html'" style="margin-right: 10px; border-bottom: 2px solid black">领养与帮助</span>
				</div>

				<div id="change_lang_div">
					<button id="change_lang" class="changelan" onmousedown="window.location.href='../en/help.html'">
						<span>中 / English</span>
					</button>
				</div>

			</div>

		</div>

		<!--主界面-->
		<div id="main_container">
			<div id="toolbar" style="display: flex; flex-direction: row; align-items: center">

				<select id="pet_type_selector" class="select_pet">
					<option value="-1">宠物类型</option>
					<option value="1">狗狗</option>
					<option value="0">猫猫</option>
				</select>

				<select id="pet_sex_selector" class="select_pet">
					<option value="-1">宠物性别</option>
					<option value="0">雄性</option>
					<option value="1">雌性</option>
				</select>

				<button id="select_bt" class="bt" style="margin-left: 10px">确定</button>
			</div>

			<div id="all_items">

			</div>
		</div>


		<!--添加一个动物-->
		<template id="a_help_item">
			<style>
				.tag {
					background-color: rgba(0, 0, 0, 0.05);
					border-radius: 5px;
					font-size: 15px;
					margin-left: 10px;
					margin-right: 10px;
					padding: 5px;
				}
				.l {
					text-decoration: none;
					color: black;
				}
			</style>
			<a id="link" class="l">
				<div style="border-top: black 1px solid; margin-top: 10px; padding: 10px; display: flex; flex-direction: row; align-items: center">
					<img src="../Images/loading.png" style="width: 100px; height: 100px" id="pet_img">
					<div id="all_info" style="margin: 10px">
						<div style="padding: 10px">
							<span>名字 : </span><span id="pet_name" style="margin-right: 20px"></span>
							<span>性别 : </span><span id="pet_sex"></span>
						</div>
						<div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center">
							<span class="tag" id="weight"></span>
							<span class="tag" id="sterilization"></span>
							<span class="tag" id="parasite"></span>
							<span class="tag" id="immune"></span>
						</div>
					</div>
				</div>
			</a>
		</template>

		<script>

			class pet {
				constructor(name, sex, img, type, id, weight, sterilization, parasite, immune) {
					this.name = name // string
					this.sex = sex // 0, 1, -1
					this.img = img // url
					this.type = type // string 猫，狗...
					this.id = id // string
					this.weight = weight // int
					this.sterilization = sterilization // bool
					this.parasite = parasite // bool
					this.immune = immune // bool
					this.link = "./pet/" + id
				}
			}

			function add_help_item(p) {
				let t = document.getElementById('a_help_item')
				t.content.getElementById('pet_name').innerText = p.name
				var sexl = {'0': '男', '1': '女', '-1': '未知'}
				t.content.getElementById('pet_sex').innerText = sexl[p.sex]
				t.content.getElementById('pet_img').setAttribute('src', p.img)
				t.content.getElementById('weight').innerText = p.weight.toString() + '斤'
				t.content.getElementById('link').setAttribute('href', p.link)

				if (p.sterilization == true) {
					t.content.getElementById('sterilization').innerText = '已绝育'
				} else {
					t.content.getElementById('sterilization').innerText = '未绝育'
				}

				if (p.parasite == true) {
					t.content.getElementById('parasite').innerText = '已驱虫'
				} else {
					t.content.getElementById('parasite').innerText = '未驱虫'
				}

				if (p.immune == true) {
					t.content.getElementById('immune').innerText = '已免疫'
				} else {
					t.content.getElementById('immune').innerText = '未免疫'
				}

				let clone = t.content.cloneNode(true)
				document.getElementById('all_items').appendChild(clone)
			}

			pet_list = new Array()
			// pet(name: string, sex: int, img: string, type: string, id: string, weight: int, sterilization: bool, parasite: bool, immune: bool)
			pet_list.push(new pet('福福', '0', '', '狗', '1', 20, true, true, true))
			pet_list.push(new pet('核桃', '1', '', '狗', '1', 18, true, true, true))
			pet_list.push(new pet('克罗心', '1', '', '狗', '1', 40, true, true, true))
			pet_list.push(new pet('茅台', '1', '', '狗', '1', 13, true, true, true))
			pet_list.push(new pet('棕棕', '0', '', '狗', '1', 12, true, true, true))
			pet_list.push(new pet('小王子', '0', '', '狗', '1', 40, true, true, true))
			pet_list.push(new pet('夏洛', '0', '', '狗', '1', 15, true, true, true))
			pet_list.push(new pet('米苏', '1', '', '狗', '1', 30, true, true, true))
			pet_list.push(new pet('小乖', '1', '', '狗', '1', 38, true, true, true))
			pet_list.push(new pet('纸板', '0', '', '狗', '1', 22, true, true, true))
			pet_list.push(new pet('涯妹', '1', '', '狗', '1', 12, true, true, true))
			pet_list.push(new pet('小新', '1', '', '狗', '1', , 10true, true, true))

			for (var i = 0; i < pet_list.length; i ++) {
				add_help_item(pet_list[i])
			}

		</script>

		<div style="background-color: rgba(0, 0, 0, 0.1); border-top: rgba(0, 0, 0, 0.5) 1px solid; width:100%; display: flex; flex-direction: column; align-items: center;">
			<span class="last_info">若有任何问题或想要加入我们，请发送邮件到我们的邮箱</span>
			<span class="last_info">联系邮箱: rt227919512@163.com</span>
		</div>

	</body>
</html>
