<!DOCTYPE html>
<html lang="ch">
    <head>
        <title>Login</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" >
        <meta charset="UTF-8">
        <style>
            .hid {
                background-color: transparent;
                color: transparent;
            }
            .main_bt {
                border: transparent; 
                height: 35px;
                border-radius: 5px; 
                width: 90px;
                margin: 5px;
                transition: ease-in-out 0.3s;
                cursor: pointer;
            }
            .main_input {
                width: 300px; 
                height: 25px;
                border: 1px solid rgb(199, 193, 193);
                border-radius: 5px;
                padding-left: 10px;
                padding-right: 10px;
            }
            .main_input_div {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-top: 10px;
            }
            body {
                backdrop-filter: blur(5px);
            }
        </style>
    </head>

    <body style="background-color: rgba(239, 236, 236);">
        <!--login-->
        <div style="display: flex; flex-direction: column; align-items: center; margin-top: 20px;">
            <div style="background-color: rgb(88, 106, 139); border-top-left-radius: 5px; border-top-right-radius: 5px; display: flex; flex-direction: row; justify-content: center; width: 40%; height: 50px;">
                <span style="color: white; font-size: large; margin-top: 10px;">用户登录</span>
            </div>
            <div style="background-color: white; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; width: 40%; display: flex; flex-direction: column; align-items: center; padding-bottom: 10px;">
                <div class="main_input_div">
                    <span>用户名:</span>
                    <input type="text" id="username" class="main_input">
                </div>
                <div class="main_input_div">
                    <span>密码:</span>
                    <input type="password" id="password" class="main_input">
                </div>
<!--	            -->
<!--                <div class="main_input_div">-->
<!--                    <span>电话号码:</span>-->
<!--                    <input type="tel" id="phonenumber" class="main_input">-->
<!--                </div>-->
<!--                <div class="main_input_div">-->
<!--                    <span>验证码:</span>-->
<!--                    <div>-->
<!--                        <input type="text" id="verification" class="main_input" style="width: 190px;">-->
<!--                        <button class="main_bt" id="verification_button" style="width: 100px;" onmouseover="this.style.backgroundColor='gainsboro' "; onmouseleave="this.style.backgroundColor='' ">获取验证码</button>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="main_input_div">
                    <span>邮箱:</span>
                    <input type="email" id="email" class="main_input">
                </div>

                <span style="font-size: small; margin-top: 10px;" id="tips"></span>

                <div style="margin-top: 10px;">
                    <button class="main_bt" id="login_button" onmouseover="this.style.backgroundColor='gainsboro' " onmouseleave="this.style.backgroundColor='' ">登录</button>
                    <button class="main_bt" id="register_button" onmouseover="this.style.backgroundColor='gainsboro' " onmouseleave="this.style.backgroundColor='' ">注册并登录</button>
                </div>
            </div>
            <span id="status" class="hid"></span>
            <span id="alert_message" class="hid"></span>
        </div>
    </body>

    <script>
        var url = window.location.href
        url = url.split('/')
        url = url[0] + '/' + url[1] + '/' + url[2] + '/' + url[3]

        function sendGetResponse(url) {
            var getresponse = new XMLHttpRequest()
            getresponse.onreadystatechange = function() {
                if (getresponse.readyState === 4 && getresponse.status === 200) {
                    document.getElementById("status").innerText = getresponse.responseText
                }
            }
            getresponse.open("GET", url, true)
            getresponse.send(null)
        }

        function gettomainpage() {
            var s = document.getElementById("status")
            if (s.innerText === "") {
                setTimeout(gettomainpage, 1)
            } else {
                if (s.innerText === "False") {
                    alert(document.getElementById("alert_message").innerText)
                } else if (s.innerText === "True") {
                    console.log(s.innerText)
                    s.innerText = ""
                    // 成功登录
                    let d = new Date()
                    document.cookie = "loginTime=" + d.getTime() + 86400000 // 一天的毫秒数
                    document.cookie = "username="+document.getElementById('username').value
                    window.location.href = "/"
                }
            }
        }

        function send_verification() {
            var tel = document.getElementById("phonenumber").value
            if (tel !== "") {
                sendGetResponse(url+"verification/tel/getcode/?tel=" + tel)
                change_verification_time()
                document.getElementById("verification_button").removeEventListener('click', send_verification)
            }
        }
        
        var remaining_time = 60

        function change_verification_time() {
            remaining_time -= 1
            bt = document.getElementById("verification_button")
            if (remaining_time === 0) {
                remaining_time = 60
                bt.addEventListener('click', send_verification)
                bt.innerText = "获取验证码"
            } else {
                bt.innerText = "剩余" + String(remaining_time) + "秒"
                setTimeout(change_verification_time, 1000)
            }
        }

        document.getElementById("login_button").addEventListener('click', function() {
            var name = document.getElementById("username").value
            var password = document.getElementById("password").value
            if (name != "" && password != "") {
                sendGetResponse(url+"login/login/?name="+name+"&password="+password)
                document.getElementById("alert_message").innerText = "错误: \n用户名或密码错误!"
                gettomainpage()
            }
        })

        document.getElementById("register_button").addEventListener('click', function() {
            var name = document.getElementById("username").value
            var password = document.getElementById("password").value
            var tel = document.getElementById("phonenumber").value
            var code = document.getElementById("verification").value
            if (password.length >= 20 || name.length >= 20) {
                alert("用户名及密码均需小于20位!")
                return
            }
            if (name != "" && password != "" && tel != "" && code != "") {
                sendGetResponse(url+"login/register/?name="+name+"&password="+password+"&tel="+tel+"&code="+code)
                document.getElementById("alert_message").innerText = "错误(可能原因): \n该用户名或电话号码已被注册!\n验证码错误!"
                gettomainpage()
            }
        })

        document.getElementById("verification_button").addEventListener('click', send_verification)

    </script>
</html>
