<!DOCTYPE html>
<html lang="ch">
	<head>
		<!--编码-->
		<meta charset="UTF-8">
		<meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
		<!--标题-->
		<title>Passage</title>
		<!--图标-->
		<link rel="shortcut icon" href="../Images/icon.jpeg">
		<!--预加载js support文件-->
		<script src="../js/support.js"></script>
		<!--style-->
		<link href="../css/menubar.css" rel="stylesheet" type="text/css">
		<link href="../css/main.css" rel="stylesheet" type="text/css">
		<link href="../css/font/fonts.css" rel="stylesheet" type="text/css">
	</head>

	<body>

		<div id="top" style="display: flex; flex-direction: row; justify-content: space-around; align-items: center">
			<!--img-->
			<img src="../Images/icon.jpeg" style="height: 50px; width: 50px; margin-left: 10px">
			<!--menubar-->
			<div id="menu_bar" class="menubar">

				<span id="mainpage" class="menubarItem" style="border-bottom: 2px solid black"
				      onmousedown="window.location.href = './index.html'">首页</span>

				<div id="interview_div" class="menubarDiv">
					<span id="interview" class="menubarItem"
					      onmousedown="window.location.href = './interview.html'">采访与博客</span>
				</div>

				<div id="shop_div" class="menubarDiv">
					<span id="shop" class="menubarItem" onmousedown="window.location.href = './shop.html'">商城</span>
				</div>

				<div id="map_div" class="menubarDiv">
					<span id="map" class="menubarItem" onmousedown="window.location.href = './map.html'">地图</span>
				</div>

				<div id="help_div" class="menubarDiv">
					<span id="help" class="menubarItem" onmousedown="window.location.href = './help.html'"
					      style="margin-right: 10px">领养与帮助</span>
				</div>

				<div id="change_lang_div">
					<button id="change_lang" class="changelan" onmousedown="window.location.href='../en/index.html'">
						<span>中 / English</span>
					</button>
				</div>

			</div>

			<div id="login">
				<img src="../Images/person.png" class="person_img">
			</div>

		</div>

		<div id="login_container" style="position: absolute; z-index: 1; width: 100%"></div>

		<div>

			<div class="content">
				<iframe src="" id="passage_content" style="border: transparent">
					<!--通过导入html文件来实现文件md文件展示-->
				</iframe>
			</div>

			<div class="comment">
				<div class="add_comment" style="display: flex; flex-direction: row; flex-grow: 1; align-items: center; border-radius: 10px; padding: 10px; background-color: aliceblue">
					<input id="input_comment" style="width: 80%; height: 50px; border: 1px solid rgb(199, 193, 193); border-radius: 5px; padding-left: 10px; padding-right: 10px;" type="text" placeholder="来发表你的评论吧！">
					<button class="bt" style="margin-left: 10px; height: 50px; width: 20%">发送</button>
				</div>

				<div id="all_comment_div" style="margin: 10px">
					<span style="font-size: 20px">全部评论</span><span id="comment_num" style="margin-left: 10px">0</span>

					<div style="border-radius: 10px; padding: 10px" id="all_comment">

					</div>
				</div>

			</div>

		</div>

	</body>

	<!--一条二级评论-->
	<template id="a_sub_comment">
		<div style="display: flex; flex-direction: row; align-items: center; margin: 10px" id="sub_detector">
			<div id="sub_head">
				<img src="../Images/person.png" class="person_img">
			</div>
			<div id="sub_name_and_comment_and_button">
				<div id="sub_name_and_comment" style="display: flex; flex-direction: column; align-items: flex-start; justify-content: space-around; margin-left: 5px; flex-grow: 1">
					<div id="sub_name" style="font-size: 7px">未命名</div>
					<div id="sub_comment_content" style="margin-top: 3px; width: 100%">
						<span style="width: 100%; font-size: 15px">Try Comment</span>
					</div>
				</div>
				<div id="sub_buttons" style="margin: 10px; display: flex; flex-direction: row; justify-content: left">
					<button class="bt" style="border: 0; display: flex; flex-direction: row; justify-content: center; align-items: center" id="like_bt">
						<img src="../Images/like.png" style="width: 15px; height: 15px" id="sub_like_img">
						<span id="sub_like_num" style="margin-left: 2px">0</span>
					</button>
				</div>
			</div>
		</div>
	</template>

	<!--一条评论-->
	<template id="a_comment">
		<div style="display: flex; flex-direction: row; align-items: center; margin: 10px" id="detector">
			<div id="head">
				<img src="../Images/person.png" style="height: 50px; width: 50px;" class="person_img" id="user_img">
				<div class="hid" id="comment_id"></div>
			</div>
			<div id="name_and_comment_and_button">
				<div id="name_and_comment" style="display: flex; flex-direction: column; align-items: flex-start; justify-content: space-around; margin-left: 5px; flex-grow: 1">
					<div id="name" style="font-size: 10px">未命名</div>
					<div id="comment_content" style="margin-top: 3px; width: 100%">
						<span style="width: 100%">Try Comment</span>
					</div>
				</div>
				<div id="buttons" style="margin: 10px; display: flex; flex-direction: row; justify-content: left">
					<button class="bt" style="border: 0; display: flex; flex-direction: row; justify-content: center; align-items: center" id="like_bt">
						<img src="../Images/like.png" style="width: 15px; height: 15px" id="like_img">
						<span id="like_num" style="margin-left: 2px">0</span>
					</button>
					<button class="bt" id="reply_bt" style="border: 0; display: flex; flex-direction: row; justify-content: center; align-items: center">
						<img src="../Images/reply.png" style="width: 15px; height: 15px" id="reply_img">
						<span id="reply_num" style="margin-left: 3px">0</span>
					</button>
				</div>
			</div>
		</div>

		<div id="sub_comment_div" style="margin: 10px; border-radius: 10px; border: 1px gainsboro solid"></div>

		<script>
			var sub_comment_exist = false
			// 点赞
			document.getElementById('like_bt').addEventListener('click', function () {
				let like_img = document.getElementById('like_img')
				let s = like_img.src.split('/')
				console.log(s)
				if (s[s.length - 1] == 'like.png') {
					like_img.src = '../Images/liked.png'
					// 点赞
				} else {
					like_img.src = '../Images/like.png'
					// 取消点赞
				}
			})

			// 回复
			document.getElementById('reply_bt').addEventListener('click', function () {
				if (sub_comment_exist == false) {
					let t = document.getElementById('a_sub_comment')
					let clone = t.content.cloneNode(true)
					document.getElementById('sub_comment_div').appendChild(clone)
					sub_comment_exist = true
				} else {
					let allchildren = document.getElementById('sub_comment_div').childNodes
					for (let i = 0; i < allchildren.length; i ++) {
						document.getElementById('sub_comment_div').removeChild(allchildren[i])
					}
					sub_comment_exist = false
				}
			})
		</script>
	</template>

	<script>
		function add_comment(comment, user) {
			let t = document.getElementById('a_comment')
			t.content.getElementById('comment_id').innerText = comment['id']
			t.content.getElementById('name').innerText = user['name']
			t.content.getElementById('user_img').src = user['img']
			t.content.getElementById('comment_content').innerText = comment['content']
			t.content.getElementById('like_num').innerText = comment['like_num']
			t.content.getElementById('reply_num').innerText = comment['reply_num']
			let clone = t.content.cloneNode(true)
			document.getElementById('all_comment').appendChild(clone)
		}
		add_comment({'content': 123, 'id': 123, 'like_num': 1, 'reply_num': 1}, {'name':123, 'img':'../Images/person.png'}, 0, 0)
		add_comment({'content': 123, 'id': 123, 'like_num': 1, 'reply_num': 1}, {'name':123, 'img':'../Images/person.png'}, 0, 0)
	</script>

	<!--需要后置加载的文件-->
	<iframe src="./templates.html" id="templates" style="width: 0; height: 0; border: transparent"></iframe>

	<script src="./js/templates.js"></script>

</html>
