<!DOCTYPE html>
<html lang="ch">
    <head>
        <!--编码-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge" >
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
        <!--标题-->
        <title>商场</title>
        <!--图标-->
        <link rel="shortcut icon" href="../Images/icon.jpeg">
        <!--预加载js support文件-->
        <script src="../js/support.js"></script>
        <script src="../js/main.js"></script>
        <!--style-->
        <link href="../css/menubar.css" rel="stylesheet" type="text/css">
        <link href="../css/main.css" rel="stylesheet" type="text/css">
        <link href="../css/font/fonts.css" rel="stylesheet" type="text/css">
    </head>

    <body>

        <div style="width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center">
            <img src="../Images/developing.png" style="width: 30%" alt="开发中...">
        </div>

    </body>
    <!--需要后置加载的文件-->
    <iframe src="./templates.html" id="templates" class="login_template"></iframe>

    <script src="./js/templates.js"></script>
</html>
