<!DOCTYPE html>
<html lang="ch">
    <head>
        <!--编码-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge" >
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
        <!--标题-->
        <title>首页</title>
        <!--图标-->
        <link rel="shortcut icon" href="../Images/icon.jpeg">
        <!--预加载js support文件-->
        <script src="../js/support.js"></script>
        <!--style-->
        <link href="../css/menubar.css" rel="stylesheet" type="text/css">
        <link href="../css/main.css" rel="stylesheet" type="text/css">
        <link href="../css/font/fonts.css" rel="stylesheet" type="text/css">
    </head>

    <body>

        <div id="top" style="display: flex; flex-direction: row; justify-content: space-around; align-items: center">
            <!--img-->
            <img src="../Images/icon.jpeg" style="height: 50px; width: 50px; margin-left: 10px">
            <!--menubar-->
            <div id="menu_bar" class="menubar">

                <span id="mainpage" class="menubarItem" onmousedown="window.location.href = './index.html'">首页</span>

                <div id="interview_div" class="menubarDiv">
                    <span id="interview" class="menubarItem" onmousedown="window.location.href = './interview.html'">采访与博客</span>
                </div>

                <div id="shop_div" class="menubarDiv">
                    <span id="shop" class="menubarItem" style="border-bottom: 2px solid black" onmousedown="window.location.href = './shop.html'">商城</span>
                </div>

                <div id="map_div" class="menubarDiv">
                    <span id="map" class="menubarItem" onmousedown="window.location.href = './map.html'">地图</span>
                </div>

                <div id="help_div" class="menubarDiv">
                    <span id="help" class="menubarItem" onmousedown="window.location.href = './help.html'" style="margin-right: 10px">领养与帮助</span>
                </div>

                <div id="change_lang_div">
                    <button id="change_lang" class="changelan" onclick="change_lang('cn', 'en')">
                        <span>中 / English</span>
                    </button>
                </div>

            </div>

            <div id="login">
                <img src="../Images/person.png" class="person_img">
            </div>

        </div>

        <div id="login_container" style="position: absolute; z-index: 1; width: 100%"></div>

        <div style="width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center">
            <img src="../Images/developing.png" style="width: 30%">
        </div>

    </body>
    <!--需要后置加载的文件-->
    <iframe src="./templates.html" id="templates" style="width: 0; height: 0; border: transparent"></iframe>

    <script src="./js/templates.js"></script>

</html>
