<!DOCTYPE html>
<html lang="ch">
	<head>
		<!--编码-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge" >
		<meta charset="UTF-8">
		<meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
		<!--标题-->
		<title>作品集</title>
		<!--图标-->
		<link rel="shortcut icon" href="../Images/icon.jpeg">
		<!--预加载js support文件-->
		<script src="../js/support.js"></script>
		<script src="../js/main.js"></script>
		<!--style-->
		<link href="../css/menubar.css" rel="stylesheet" type="text/css">
		<link href="../css/main.css" rel="stylesheet" type="text/css">
		<link href="../css/font/fonts.css" rel="stylesheet" type="text/css">

		<style>
			.box {
				padding-left: 50px;
				padding-right: 50px;
				column-count: 2;
				column-gap: 10px;
			}
			img {
				padding: 10px;
				width: 100%;
			}
		</style>
	</head>
	<body>
		<div class="box">

		</div>
	</body>

	<iframe src="./templates.html" id="templates" class="login_template"></iframe>

	<script src="./js/templates.js"></script>

	<script>
		let base_url = 'https://resources.muyunxi.top/static/works/';
		let img_box = document.querySelector('.box');
		for (let i = 0; i < 7; i ++) {
			let ele = document.createElement('img');
			ele.src = `${base_url}${i}.jpg`;
			img_box.appendChild(ele);
		}
	</script>
</html>
