.bt {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 15px;
    background-color: transparent;
    padding-top: 3px;
    padding-bottom: 3px;
}

.bt:hover {
    background-color: rgba(0, 0, 0, 0.05);
    transition: all .2s ease-in-out;
}

.last_info {
    font-size: smaller;
}

span {
    font-family: "arial round";
}

.hid {
    background-color: transparent;
    color: transparent;
    border: transparent 0;
}

.person_img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: rgba(0, 0, 0, 0.1) 1px solid;
    cursor: pointer;
    margin-right: 10px;
}

.person_img:hover {
    border: rgba(0, 0, 0, 0.2) 2px solid;
    transition: all .2s ease-in-out;
}

.card {
    perspective: 500px;
    cursor: pointer;
}

.card:hover .face {
    transform: rotateY(-180deg);
}
.card:hover .back {
    transform: rotateY(0);
}

.back {
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: 0.5s;
}
.face {
    position: absolute;
    transition: 0.5s;
    backface-visibility: hidden;
}
