.bt {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 15px;
    background-color: transparent;
    padding-top: 3px;
    padding-bottom: 3px;
}
.bt:hover {
    background-color: rgba(0, 0, 0, 0.05);
    transition: all .2s ease-in-out;
}

.last_info {
    font-size: smaller;
}
