<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" /> 
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
        <title>Map</title>
        <style>
            html {height: 100%;}
            body {height: 100%; margin: 0px; padding: 0px;}
        </style>
        <script src="https://api.map.baidu.com/api?v=1.0&type=webgl&ak=GybsVFaClYXeYBK6h5Mmr0e7CDNM6ouW"></script>
    </head>

    <body>
        <div id="detector">
            <iframe data="map.html" width="100%" height="100%" id="map"></iframe>
            <script src="{% static 'js/map.js' %}"></script>
        </div>
        <span id="status" style="height: 0px; width: 0px; color: transparent;">False</span>
    </body>
    <script src="{% static 'js/map_function.js' %}"></script>
</html>
